body, h3, ul{
    margin: 0px;
    padding: 0px;
    }
    .update{
       width: 400px;
      height: 100vh;
      position: fixed;
      top: 50px;
      right: 0;
      background-color: #f1f1f1;
      padding: 20px;
      overflow: auto;
    }
    .update ul{
        list-style: none;   /*去原点*/
    }
    .update h3{
    
        font-size: 20px;
        margin-bottom: 20px;
    }
    .update ul li {
        border-bottom:1px dotted #ddd ;
        height: 35px;
        font-size: 16px;
        line-height: 1.5;
    
        white-space: nowrap;
    
        text-overflow: ellipsis;
    
        padding: 5px 0;
    }
    .update ul li a{
        color: #333;
        text-decoration: none; /*去下划线*/
    }
    .update ul li a:hover{
        color: red;
    }
    .container{
    
    }
    