{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}

{% block title %}最新文章{% endblock %}

{% block main %}
  <button class="myButton" id="myButton">更新</button>
        <div class="loader" id="loader" style="display: none;"></div>
        <div id="clickTime"></div>
    <div class="list">

        {% for data in datas %}
                <div class="main_title">
                    <h2 class="rss_tile">{{data.get('rss_title')}} </h2>
                    <p class="question-title"><a href="{{url_for('article.rss_detail', rss_id=data.rss_id)}}" target="_blank">查看更多</a></p>
                    <div class="index_link">
                        {% for entry in data.get('entries')%}
                        <p class="entry">
                          <a href="{{entry.get('link')}}"target="_blank">{{ entry.get('title') }}</a>
                        </p>
                        <p class="link_date">
                            <span class="question-time">{{ entry.get('date') }}</span>
                        </p>
                        {% endfor %}
                    </div>
                </div>
        {% endfor %}
    </div>

{% endblock %}

{% block extra %}

<script src="{{url_for('static', filename='js/refresh_test.js')}}"></script>
{% endblock %}