{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}

{% block title %}最新文章{% endblock %}

{% block main %}
<body>
 <div class="update", id="update">
        <h3> 今日更新 </h3>
        <ul id="items">


        </ul>
    </div>
<div id="data-container" class="container">
    <!-- 平台内容 -->
    <div class="platform">
        <h2 class="rss_tile">Platform Title</h2>
        <div class="entries">
            <!-- 条目 -->
            <div class="entry">
                <a href="#" class="entry-link">Entry Title</a>
                <div class="link_date">Date</div>
            </div>
        </div>
        <a href="#" class="view-more">View More</a>
    </div>
    <!-- 重复平台内容 -->
    <!-- 重复平台内容 -->
</div>




{% endblock %}
{% block extra %}

<script src="{{url_for('static', filename='js/refresh_test.js')}}"></script>
{% endblock %}
